@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-50: #ecfdf3;
  --color-primary-100: #d1f7d9;
  --color-primary-200: #a6ecb0;
  --color-primary-300: #73dc82;
  --color-primary-400: #3fc753;
  --color-primary-500: #015b16;
  --color-primary-600: #014912;
  --color-primary-700: #01370d;
  --color-primary-800: #002409;
  --color-primary-900: #001204;

  --color-secondary-50: #fff1f1;
  --color-secondary-100: #ffd7d7;
  --color-secondary-200: #ffb3b3;
  --color-secondary-300: #ff8a8a;
  --color-secondary-400: #ff5c5c;
  --color-secondary-500: #9f0001;
  --color-secondary-600: #7e0000;
  --color-secondary-700: #5f0000;
  --color-secondary-800: #3f0000;
  --color-secondary-900: #200000;

  --color-tertiary-50: #fff5f5;
  --color-tertiary-100: #ffdada;
  --color-tertiary-200: #ffb0b0;
  --color-tertiary-300: #ff7a7a;
  --color-tertiary-400: #ff4040;
  --color-tertiary-500: #f80002;
  --color-tertiary-600: #c80000;
  --color-tertiary-700: #960000;
  --color-tertiary-800: #640000;
  --color-tertiary-900: #320000;

  --color-info-50: #eff6ff;
  --color-info-100: #dbeafe;
  --color-info-200: #bfdbfe;
  --color-info-300: #93c5fd;
  --color-info-400: #60a5fa;
  --color-info-500: #3b82f6;
  --color-info-600: #2563eb;
  --color-info-700: #1d4ed8;
  --color-info-800: #1e40af;
  --color-info-900: #1e3a8a;

  --color-success-50: #ecfdf3;
  --color-success-100: #d1f7d9;
  --color-success-200: #a6ecb0;
  --color-success-300: #73dc82;
  --color-success-400: #3fc753;
  --color-success-500: #015b16;
  --color-success-600: #014912;
  --color-success-700: #01370d;
  --color-success-800: #002409;
  --color-success-900: #001204;

  --color-error-50: #fff1f1;
  --color-error-100: #ffd7d7;
  --color-error-200: #ffb3b3;
  --color-error-300: #ff8a8a;
  --color-error-400: #ff5c5c;
  --color-error-500: #9f0001;
  --color-error-600: #7e0000;
  --color-error-700: #5f0000;
  --color-error-800: #3f0000;
  --color-error-900: #200000;

  --color-warning-50: #fffbeb;
  --color-warning-100: #fef3c7;
  --color-warning-200: #fde68a;
  --color-warning-300: #fcd34d;
  --color-warning-400: #fbbf24;
  --color-warning-500: #f59e0b;
  --color-warning-600: #d97706;
  --color-warning-700: #b45309;
  --color-warning-800: #92400e;
  --color-warning-900: #78350f;
}
